# System files
.DS_Store
Thumbs.db

# IDE settings
.idea/
.vscode/
*.swp

# Python and Build folders
__pycache__/
venv/
bin/
build/
*.py[cod]

# Data files (dynamic or large)
lab_02/data/
*.csv
*.txt
*.json
*.log